.todosList_container{
    margin-top: 5%;
    color: white;
}

.list_item{
    list-style: none;
    margin-top: 8px;
    display: flex;
    align-items: center;
    border: solid 1px rgb(197, 192, 192);
    border-radius: 5px;
    width: 80%;
}
.input_list_item{
    background-color: transparent;
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
    border: transparent;
}

.buttons{
    padding: 5px;
    margin-left: 10px;
}

.task-button{
    background-color: transparent;
    border: transparent;
}

.button-complete{
    color: tan;
}

.button-edit{
    color: rgb(191, 191, 13);
}

.button-delete{
    color: rgb(46, 151, 193);
}